@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
		<div class="row">
			<div class="col-md-12">
				<div class="contacto" >
				<h2>CONTACTO</h2><br>
				<p><h2>¡Inventario de productos¡.</h2></p>

			</div>
			</div>
			<div class="col-md-12">
				<div class="telefonos">
			
						<h1>Acerca de nosotros</h1>
						<p> Tu  portal de internet para admninistrar tus,<br>
				                        productos de tecnología y entretenimiento. Ofrecemos la más amplia selección <br>
							y variedad a los mejores precios en la puerta de tu casa.<br>
				  

									

			</div>
			</div>
		</div>
		
			
			

		<div class>		
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.8354900418162!2d-3.668800695606529!3d40.41249506162787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7125d84c56261dc2!2sTesorer%C3%ADa+General+de+la+Seguridad+Social!5e0!3m2!1ses!2ses!4v1426205501205" width="500" height="400" frameborder="0" style="border:5"></iframe>
		
		</div>

		

	</body>
